::ng-deep
#keyboard {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    app-button {
        display: inline-block;
        width:33%;
        margin: 0 0.15%;
        padding: 1em;
        background-color: rgba(230,220,210, 0.3);
        cursor: pointer;
        border: 10px solid white;
        &.button {
            &-e1{
                margin-left: 33.45%;
            }
            &-b2{
                width: 66.3%;
            }
        }
    }
    
}